.sidebar{
    width: 5%;
    height: 100vh;
    padding: 40px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-attachment: fixed;
    position: fixed;
}
.sidebar ul{
    margin-top: 40px;
    position: relative;
}
.circuit{
    position: absolute;
    padding: 20px;
    background-color: #E5F4FF;
    transform: translate(-50%, -50%);
    top: 16.5%;
    left: 50%;
    z-index: -1;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
}
.circuit2{
    top: 78%;
}
.sidebar li{
    list-style: none;
    margin-top: 15px;
}
.sidebar .logout{
    padding: 11px 11px 8px 12px;
    border-radius: 50%;
    background-color: #F6F9FC;
    border:1px solid #7070702c;
}
