.addInfo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}
.addInfo .info input{
    padding: 15px 15px;
    border-radius: 15px;
    border: none;
    width: 49%;
    box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.02);
}
.addInfo form{
    width: 50%;
    position: relative;
}
.postion{
    position: absolute;
    right: -70px;
    top: 170px;
}
.postion>button{
    border:none;
    padding: 2px;
}
.addInfo .info{
    display: flex;
    justify-content: space-between;
}
.ckeck{
    width: 100%;
    padding: 15px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.02);
}
.ckeck2{
    width: 100%;
    padding: 15px 15px;
    border-radius: 10px;
    border: none;
    height: 80px;
    resize: none;
    box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.02);
}
.mrg{
    margin: 0 0 10px 0;
}
.vector{
    width: 35%;
}
.button{
    cursor: pointer;
    margin-top: 10px;
    padding: 13px 25px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    background-color: white;
    box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.116);
    transition: 0.4s ease-in-out;
}
.button:hover{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.00);
}

.results button{
    cursor: pointer;
    padding: 10px;
    border-radius: 4px 0px;
    margin: 4px;
    border: none;
    background-color: white;
}
select{
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px 0px;
    margin: 4px;
    border: none;
    border-radius: 15px;
}
